@(employees: List[Employees])

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>
</head>
<body>

<h1>List Of Employees</h1>

<table>
    <tr>
        <th>Edit</th>
        <th>Employee Id</th>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Employee Title</th>
        <th>Manager First Name</th>
        <th>Manager Last Name</th>
        <th>Manager Photo</th>
        <th>Photo</th>
        <a href="url"><iframe width="1200" height="500" src="https://www.youtube.com/embed/Sagg08DrO5U?ecver=1" frameborder="0" allowfullscreen></iframe></a>
    </tr>
    @for(employee <- employees) {
    <tr>
        <td><a href="@routes.EmployeesController.editEmployee(employee.employeeId)">Edit</a></td>
        <td>@employee.employeeId</td>
        <td>@employee.employeeFirstName</td>
        <td>@employee.employeeLastName</td>
        <td>@employee.employeeTitle</td>
        <td><img src=@{routes.EmployeesController.getPicture(employee.employeeId)}></td>
        <td>@if(employee.manager != null) {@employee.manager.employeeFirstName}</td>
        <td>@if(employee.manager != null) {@employee.manager.employeeLastName}</td>
        <td>@if(employee.manager != null) {<img src=@{routes.EmployeesController.getPicture(employee.manager.employeeId)}>}</td>
    </tr>
    }
</table>



</body>
</html>