@(myOrder: List[MyOrder])

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type ="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>
</head>
<body>

<h1>List Of My Orders</h1>

<table>
    <tr>
        <th>My Order Id</th>
        <th>Product Id</th>
        <th>Customer Id</th>
        <th>Quantity</th>
    </tr>
    @for(myOrder <- myOrder) {
    <tr>
        <td>@myOrder.myOrderId.orderId</td>
        <td>@myOrder.myOrderId.productId</td>
        <td>@myOrder.customerId</td>
        <td>@myOrder.quantity</td>
    </tr>
    }
</table>


</body>
</html>