@(employee: Employees)

<!DOCTYPE html>
<html>
<head>
</head>
<body>
 <form method="POST" action="@routes.EmployeesController.updateEmployee()" id="updateEmployee">
    <input type="hidden" name="employeeId" value="@employee.employeeId"/><br>
    First Name: <input type="text" name="employeeFirstName" value="@employee.employeeFirstName"/><br>
     Last Name:  <input type="text" name="employeeLastName" value="@employee.employeeLastName"/><br>
     Emp Title:  <input type="text" name="employeeTitle" value="@employee.employeeTitle"/><br>
    <button>Save</button>
 </form>
</body>
</html>